
    <% @notebooks = Notebook.all %>


    <main class="content"> 

        <aside>
        <%= render 'notebooks/notebooks' %>
        <br><br>
            <%= render 'events/events'%>   
        </aside>
    


    
        <article>
            <%= render 'calendars/calendar'%>
        </article>

        




    </main>