
    <% @notebooks = Notebook.all %>
    


    <main class="content"> 

        <aside>
        <%= render 'notebooks/notebooks' %> 
        <br>
        <%= render 'events/events'%>
        </aside>
    


    
        <article> 
            <div>
                <% if current_user.calendars.any?%>        
                    <%= render 'calendars/calendar'%>
                <% else %>
                    You haven't made a calendar yet...
                    <br>
                    <%= link_to 'Add a Calendar', new_calendar_path%>
                <% end %>
            </div>
                

        </article>

       
    </main>

    