<h1>Upcoming Events</h1>

<% @calendars = Calendar.where({:user_id => current_user.id}).each do |calendar|%>

<% calendar.events.each do |event|%>

<p>
  <strong>Name:</strong>
  <%= event.name %>
</p>

<p>
  <strong>Due date:</strong>
  <%= event.due_date %>
</p>
<%= link_to 'View', calendar_event_path(calendar.id,event.id)%>
<br>
  <% end %>
<% end %>