<h1>Upcoming Events</h1>

<% @calendar.events.where({:user_id => current_user.id}).each do |event|%>

<p>
  <strong>Name:</strong>
  <%= event.name %>
</p>

<p>
  <strong>Due date:</strong>
  <%= event.due_date %>
</p>
<br>

<% end %>