<h3>Upcoming Events</h3>

<% @calendars = Calendar.where({:user_id => current_user.id}).each do |calendar|%>

<% calendar.events.order(:due_date).each do |event|%>

<p>
  <strong>Name:</strong>
  <%= event.name %>
</p>

<p>
  <strong>Due date:</strong>
  <%= event.due_date %>
</p>
<%= link_to 'Details', calendar_event_path(calendar.id,event.id)%>
---
<%= link_to 'Delete Task', calendar_event_path(calendar, event), method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
  <% end %>
<% end %>