/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
     
    box-sizing: border-box; 
    font-family: American Typewriter, serif;
    border-radius: 25px;
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
    background: #585858;
    color: aquamarine;
  }
  .col-1 {
    background: #2a2a2a;
    background-image: url('/assets/carbon_pic.jpg') ;
    flex: 1;
    border-radius: 20px;
    font-family: Megrim, cursive;
    padding-bottom: 10%;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
    border-radius: 20px;
    background-image: url('/assets/background texture.png');
    overflow: auto;
    font-family: Megrim, cursive;
  }
  .content {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
  }
  .col-3 {
    display: flex;
    flex-direction: column;
    flex: 2;
    border-radius: 20px;
    overflow: auto;
  }
  .content > article {
    flex: 3;
    min-height: 60vh;
  }
  .content > aside {
    background: rgb(143, 164, 164);
    flex: 1;
    color: #000;
    overflow: auto;
    opacity: .7;
  }
  .content > time {
    background: rgb(143, 164, 164);
    flex: 1;
    color:#000;
    align-content: flex-end;
  }
  header, footer {
    background: rgb(135, 191, 22);
    height: 20vh;
    color: black;
    opacity: .5;
  }
  header, footer, article, nav, aside {
    padding: 1em;
  }

  a:link, a:visited {
    /* background-color:  #b6adad; */
    color: rgb(49, 255, 224);
    padding: 10px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px ;
  
  }
  footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:rgb(135, 191, 22);
    opacity: 1;
 }
 .rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

  h1{
    font-family: Megrim, cursive;
    font-size: 33px ;
  }

  h3 {
    font-family: Megrim, cursive;
    font-size: 19px ;
  }

  .alien-logo {
    background-color:rgb(135, 191, 22);
    opacity: .4;
  }

 button {
   opacity: 1;
   background-color: rgb(135, 191, 22);
   width: 33%;
   opacity: .8;
   font-family: Megrim, cursive;
   font-size: 1rem ;
 }
